<% provide(:title, "Home") %>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>User Notes</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>



<div class="center jumbotron">
  <h1>Welcome to Nutritional Planner</h1>

  <h2>
    Plan your meals. Be nourished. 
  </h2>
  <h2>
    <%= link_to image_tag("nutritional_planner_logo.png") %>
    
  </h2>

  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>