<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
      Hello,   <%= @user.name %>  . Welcome to Jot!
      </h1>
    </section>
  </aside>
</div>