<footer class="footer">
  <small>
    Copyright © 2015 <a href='#'>Nutritional Planner llc. </a>All rights reserved ®
  </small>
  <nav>
    <ul>
      <li><%= link_to "What is Nutritional Planner?",   '#' %></li>
      <li><%= link_to "Contact Us", '#' %></li>
      <li><a href='#'>News</a></li>
    </ul>
  </nav>
</footer>